* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  width: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid rgba(0, 0, 0, .5);
}

input {
  padding: 5px 20px;
  outline: none;
}

button {
  padding: 5px;
}